@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    background-color: #FFFDF8;
    color: #171717;
    overflow-x: hidden;
    max-width: 100vw;
  }

  body {
    background-color: #FFFDF8;
    color: #171717;
  }
}

/* Custom Gold Transitions & Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #FFFDF8;
}

::-webkit-scrollbar-thumb {
  background: #D9B65A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C89B3C;
}